.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.hero__title {
    color: #070707;
    font-size: 47.3392px;
    line-height: 59px;
}

.hero__descr {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.hero__lang {
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
}

.code {
    max-width: 945px;
    max-height: 388px;
}